body{
  line-height: 1.4rem;
}
.logo{
  font-size: 3rem;
  display:flex;
  place-items: center;
  justify-content:center ;
  align-items: center;
  

}
.twicon-main-island:before {
    content: "\a002";
  }
.container{
  max-width: 1110px;
}
#sub-detail .row{
  padding:32px 0 32px 0;
  border-bottom: 1px,solid,rgba(33,33,33,0.2);  
}
.rounded-none
{
  -webkit-border-radius: 0;
       -moz-border-radius: 0;
       border-radius: 0;
  }
h3
{
    font-size: 2em ;
  }
h4{
  border-left: .5em rgb(0, 217, 255) solid;
  border-style:solid;
}
.fs-7{
  font-size: 0.8rem;
}
.end-hide-parent{
  position:relative;
}
.end-hide{
  max-height: 5em;
  overflow: hidden;
}
.max_hight-5{
  max-height:7rem;
  overflow: hidden;
}
.max_hight-4{
  max-height: 5rem;
  overflow: hidden;
}
/* .hide_filter{
  background-image: linear-gradient( #ff22,#ffff);
  z-index: 10;
} */
.hide_filter::before{
  display: block;
  content:"";
  width:100%;
  min-height: 30%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient( #fff2,#ffff);
  z-index: 10;
}
.filter_parent{
  position: relative;
  display:block;
}
.overflow_auto{
  overflow:auto;
}
/* .end-hide::before{
  display: block;
  content:"";
  width:100%;
  min-height: 30%;
  position: absolute;
  bottom: 1.4rem;
  background-image: linear-gradient( #fff2,#ffff);
  z-index: 10;
} */
.no-decoration,.no-decoration:hover{
  text-decoration:none;
}
#Map{
  height:250px;
}
.imgbox{
  position:initial;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 0;
  padding-bottom: 35%;
  padding-top:35%;
}

.imgbox>.center-text{
  font-size: 3rem;
  color:rgba(66,66,66,.8);
  z-index: 3;
  position: absolute;
  font-weight: 800;
  text-shadow:0 0 5px #ff0
}
.square_img{
  position: relative;
  height:0;
  padding-bottom:100%;
  overflow: hidden;

}
.square_img > img {
  position:absolute;
  width:100%;
  height:100%;
  object-fit: cover;
}
.oh{
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;  
}
/* .carousel-item{ */
  /* height: 20rem; */
  /* display:flex; */
/* } */
/* .carousel-item img{
  position: absolute;
  top:50%;
} */
/* .carousel-item{
  display:flex;
  height: 5rem;
  padding-top: 35%;
  padding-bottom: 35%;
  align-items: center;
} */
