<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./img/twicon/twicon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/> 
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <title>The Taiwan</title>
</head>
<body ><div id="App" >
    <header class="container header">
        <div class="row">
            <h1 class="hide">{{}}</h1>  <!-- 填入景點名稱 -->
            <div class="col-3">THE <i class="twicon-main-island"></i></div>
            <search_bar @emit_e="get_search"></search_bar>
        </div>
    </header>

    <section class="container"  >
        <div class="row">
            <div class="col-md-7">      <!-- 景點圖片輪播 -->
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <!-- {{picture_array}} -->
                    <div class="carousel-indicators">
                      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> -->
                      <!-- <template v-for="">   -->
                        <template v-for="(item,key) of picture_array">
                            <button type="button" data-bs-target="#carouselExampleIndicators" class="active" aria-current="true"
                            :data-bs-slide-to="key" :aria-label="'Slide '+ (key +1)" v-if="key == 0" ></button>
                        </template>
                        <template v-for="(item,key) of picture_array">
                            <button type="button" data-bs-target="#carouselExampleIndicators" :data-bs-slide-to="key" :aria-label="'Slide '+ (key +1)"
                            :data-bs-slide-to="key" :aria-label="'Slide '+ (key +1)"  v-show="key != 0"></button>
                        </template>
                    </div>
                    <div class="carousel-inner">
                        <template v-for="(item,key) in picture_array">
                            <div class="carousel-item active " 
                              v-if="key == 0">
                              <div class="imgbox">
                                  <img :src="item[1]" class="d-block w-100" :alt="key">
                              </div>
                            </div>

                        </template>
                        <template v-for="(item,key) in picture_array">
                            <div class="carousel-item " 
                              v-if="key != 0">
                              <div class="imgbox">
                                  <img :src="item[1]" class="d-block w-100" :alt="key">
                            </div>

                            </div>

                        </template>
                        <!-- <div class="carousel-item "
                          v-for="(item,key) in picture_array" v-show="key != 0">
                            <img :src="item[1]" class="d-block w-100" :alt="key" >
                        </div> -->
                      <!-- <div class="carousel-item">
                        <img src="https://www.eastcoast-nsa.gov.tw/image/29072/640x480" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://www.eastcoast-nsa.gov.tw/image/426/640x480" class="d-block w-100" alt="...">
                      </div> -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-md-5">      <!-- 景點概況介紹 -->
                <header class="mb-5">
                    <h3><b>{{spot_data.ScenicSpotName}}{{spot_data.HotelName}}{{spot_data.RestaurantName}}{{spot_data.ActivityName}}</b></h3>
                    <div class="d-flex align-items-center  justify-content-between">
                        <span class="area fw-bolder text-info"><i class="bi bi-geo-alt  m-2  d-inline-block"></i> {{spot_data.City}}</span>
                        <span class="mx-2">   
                            <span class="mx-2" v-if="(spot_data.Class1 + spot_data.Class)">{{spot_data.Class1}}{{spot_data.Class}}</span>
                            <span class="mx-2" v-if="spot_data.Class2">{{spot_data.Class2}}</span>
                            <span class="mx-2" v-if="spot_data.Class3">{{spot_data.Class3}}</span>
                        </span>
                    </div>
                </header>
                <ul class="m-3" >
                    <li v-for='(item,index) in spot_list_menu1[detail_type]'>
                        <span class="fw-bolder col-3 d-inline-block m-1">{{item[0]}}</span>{{spot_data[item[1]]}}</li>
                
                </ul>
            </div>
        </div>
    </section>

    <section class="container">         <!-- 景點細部介紹/aside -->
        <div class="row">
            <div id="sub-detail" class="container col-8">   <!-- 景點細部介紹 -->
                <div class="row">  <!-- 景點介紹(detail) -->
                    <div class="col-2">
                        <h4 class="">景點介紹</h4>
                    </div>
                    <!-- <div class="col-10 overflow-hidden end-hide-parent">    -->
                    <div class="col-10 ">   
                        <p id="detail"class="max_hight-5 filter_parent">{{spot_data.Description}}
                            <span class="hide_filter"
                            v-show='detail_open==false'></span>
                        </p>
                        <a id="detail-buttom" href="#detail" class="no-decoration " :data-open="detail_open" style="display:none">
                            <div class=" text-center text-info "
                            v-show='detail_open==true' @click="openDetail">--- 縮回 &nbsp;&nbsp; ∧ ---</div>
                            <div class=" text-center text-info "
                            v-show='detail_open==false' @click="openDetail">--- 完整介紹 &nbsp;&nbsp; ∨ ---</div>
                        </a>
                        
                    </div>
                </div>
                <div class="row">  <!-- 地圖/交通資訊 -->
                    <div class="col-2">
                        <h4 class="">地圖</h4>
                    </div>
                    <div class="col-10 overflow-hidden end-hide-parent">
                        <div id="Map">

                        </div>
                        <div class="p-2">
                            <div class="h5 m-1">交通資訊</div>
                            <p v-if="spot_data.TravelInfo=='' || !spot_data.TravelInfo " class="m-1 max_hight-4 overflow_auto fs-7 ">未提供</p>
                            <p class="m-1 max_hight-4 overflow_auto fs-7 ">{{spot_data.TravelInfo}}</p>
                        </div>
                    </div>
                </div>
                <template v-for="(item,key) in spot_list_menu2[detail_type]">   <!-- 其它 -->
                    <!-- 注意事項 判斷方式需修正-->
                    <!-- <div v-if="spot_data[key] && key=='Remarks'" class="row ">    
                        <div class="col-2">
                            <h4 class="">{{item}}</h4>
                        </div>
                        <div class="col-10 overflow-hidden end-hide-parent">
                            <p :id=key class="">{{spot_data[key]}}
                            </p>
                        </div>
                    </div> -->
                    
                    <!--其它欄位 判斷方式需修正-->
                    <!-- <div class="row" v-if="spot_data[key] && key!='Remarks' " >   
                        <div class="col-2">
                            <h4 class="">{{item}}</h4>
                        </div>
                        <div class="col-10 p-3 ">
                            <ul class="d-flex flex-wrap " >
                                <li v-for="(i,k) in data_to_array(spot_data[key],';')" v-show="i!=''" 
                                    class="col-5 m-1">{{i}}</li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- 修正 -->
                    <div v-if="spot_data[key]" class="row ">    
                        <div class="col-2">
                            <h4 class="">{{item}}</h4>
                        </div>
                        <div v-if="['Remarks'].includes(key)" 
                            class="col-10 overflow-hidden end-hide-parent">
                            <p :id=key class="end-hide">{{spot_data[key]}}
                            </p>
                        </div>
                        <div class="col-10 p-3 "
                            v-if="['Spec','ServiceInfo','Phone'].includes(key)" >
                            <ul class="d-flex flex-wrap " >
                                <li v-for="(i,k) in data_to_array(spot_data[key],';')" v-show="i!=''" 
                                    class="col-5 m-1">{{i}}</li>
                            </ul>
                        </div>
                    </div>
                </template>    
            </div>                
            <aside class="col-4">       <!-- aside -->
                <!-- hi this is aside AD -->
                <template v-for="(item,key) in ad_list_menu[detail_type]">
                    <h4 class="col-12 my-2">{{item}}</h4>
                    <!-- card -->
                    <template v-for="(item2,key2) in aside_ad[key] ">

                        <!-- <aside_AD_card class="d-flex"> -->
                        <aside_AD_card class="d-flex my-1">
                            <a class="adImg col-4" :href="item2.chick_url"  target="_blank">
                                <div class="square_img">
                                    <img styel="" :src=item2.Picture.PictureUrl1 alt="" >
                                </div>
                            </a>
                            <div class="col-8">
                                <h6 sytle="white-space:nowrap"class="oh"> {{item2.ScenicSpotName}}
                                        {{item2.HotelName}}
                                        {{item2.RestaurantName}}
                                        {{item2.ActivityName}}</h3>
                                <div>
                                    <span class="area fw-bolder text-info"><i class="bi bi-geo-alt  m-2  d-inline-block"></i> {{spot_data.City}}</span>
                                </div>
                                <span class="mx-2" v-if="spot_data.Class1 + spot_data.Class">{{item2.Class1}}{{item2.Class}}</span>
                                <span class="mx-2" v-if="spot_data.Class2">{{item2.Class2}}</span>
                                <span class="mx-2" v-if="spot_data.Class3">{{item2.Class3}}</span>
                            </div>
                        </aside_AD_card>
                        <!-- </aside_AD_card> -->
                    </template>
                    <!-- /card -->
                </template>
            </aside>
        </div>
    </section>
    <footer></footer>
    
</div></body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./detail.js"></script>
</html>