<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./img/twicon/twicon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/> 
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <title>The Taiwan</title>
</head>
<body ><div id="App" >
    <header class="container"><div class="row">
        <h1 class="hide">{{}}</h1>
        <div class="col-3">THE <i class="twicon-main-island"></i></div>
        <search_bar @emit_e="get_search"></search_bar>
        <!-- <form class="d-flex sharebar col-auto mx-auto justify-content-center ">
            <div class="select form-floating" v-for="(item, index) in search_bar.selection">
                <select  class="form-select form-select-sm"  aria-label="Floating label select example" 
                    :id="item.name" :value=item.data[0] v-model="item.value">
                        <option v-for="(item, index) in item.data" :value="item">{{item}}</option>
                    </select>
                <label :for="item.name">{{item.name}}</label>
            </div>
            <div class="form-floating">
                <input class="form-control" placeholder="Leave a comment here" id="searchTextarea"
                    v-model.trim="search_bar.searchText"
                > </input>
                <label for="searchTextarea">請輸入搜尋內容</label>
            </div>
            <btn type="button" class="btn btn-info rounded-none rounded-end d-flex align-items-center"
                @click="send_search">搜尋
            </button>
        </form> -->
    </div></header>
        <!-- <card type="" @data=""></card> -->
    <section class="container"  >
        <div class="row">
            <img class="col-md-7"
                :src="spot_data.Picture.PictureUrl1" :alt="spot_data.ScenicSpotName">
            <div class="col-md-5">
                <header class="mb-5">
                    <h3><b>{{spot_data.ScenicSpotName}}{{spot_data.HotelName}}{{spot_data.RestaurantName}}{{spot_data.ActivityName}}</b></h3>
                    <div>
                        <span class="area fw-bolder text-info"><i class="bi bi-geo-alt  m-2  d-inline-block"></i> {{spot_data.City}}</span>
                        <span>
                            <span>{{spot_data.Class1}}{{spot_data.Class}}</span>
                            <span>{{spot_data.Class2}}</span>
                            <span>{{spot_data.Class3}}</span>
                        </span>
                    </div>
                </header>
                <ul class="m-3" >
                    <li v-for='(item,index) in list_menu[detail_type]'>
                        <span class="fw-bolder col-3 d-inline-block m-1">{{item[0]}}</span>{{spot_data[item[1]]}}</li>
                
                </ul>
                <!-- <ul class="m-3">
                    <li><span class="fw-bolder col-3 d-inline-block m-1">開放時間</span>    {{spot_data.OpenTime}}</li>
                    <li><span class="fw-bolder col-3 d-inline-block m-1">票價資訊</span>    {{spot_data.TicketInfo}}</li>
                    <li><span class="fw-bolder col-3 d-inline-block m-1">聯絡電話</span>    {{spot_data.Phone}}</li>
                    <li><span class="fw-bolder col-3 d-inline-block m-1">景點地址</span>    {{spot_data.Address}}</li>
                    <li><span class="fw-bolder col-3 d-inline-block m-1">{{trychange[0]}}</span>    {{trychange[1]}}</li>
                    <li><span class="fw-bolder col-3 d-inline-block m-1">官方網站</span>    </li>
                </ul> -->
            </div>

        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="container col-8">
                <div class="row">
                    <div class="col-2">
                        <h4 class="">景點介紹</h4>
                    </div>
                    <div class="col-10 overflow-hidden end-hide-parent">
                        <p id="detail"class="end-hide">{{spot_data.DescriptionDetail}}</p>
                        <a href="#test" class="no-decoration">
                            <div id="openDetail" class=" text-center text-info "
                            v-if='detail_open==false' @click="openDetail">--- 完整介紹 &nbsp;&nbsp; ∨ ---</div>
                            <div id="openDetail" class=" text-center text-info "
                            v-if='detail_open==true' @click="openDetail">--- 縮回 &nbsp;&nbsp; ∧ ---</div>
                        </a>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h4 class="">地圖</h4>
                    </div>
                    <div class="col-10 overflow-hidden end-hide-parent">
                        <div id="Map">

                        </div>
                        <div>
                            <div>交通資訊</div>
                            <p>{{spot_data.TravelInfo}}</p>
                        </div>
                    </div>
                </div>
                    
                        <ul>
                            <li>
                            </li>
                            <li>
                                <div class="左方偽元素">地圖</div>
                                <div>
                                    <map name=""></map>
                                </div>
                            </li>
                            <li>
                                <div class="左方偽元素">注意事項</div>
                                <div><p>{{spot_data.Remarks}}</p></div>
                            </li>
                        </ul>
                </div>
            </div>                
            <aside class="col-4"></aside>
        </div>
    </section>
    <aside></aside>
    <footer></footer>
    
</div></body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./detail.js"></script>
</html>