<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/searchPG.css">
    <link rel="stylesheet" href="./img/twicon/twicon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/> 
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <title>The Taiwan</title>
</head>
<body><div id="App">
    <header class="container header text-center">
        <div class="row align-items-stretch">
            <h1 class="d-none col-0">search page</h1>  <!-- 填入景點名稱 -->
            <div class="col-3 logo"> <div>THE</div> <i class="twicon-main-island"></i></div>
            <search_bar class="col-8"
            @emit_e="get_search" :search-data="searchD" :eng-to-ch="toCh"></search_bar>
        </div>
        <div class="banner row justify-content-center"><page_banner class="banner col-auto" :city="searchD.area"></page_banner></div>

        <div class="row justify-content-center">
            <div id="typeTagGroup" class="typeTagGroup col-5 d-flex justify-content-between">
                <div class="typeTag col-auto" v-for="(tag,key) of typeList" :data-type=toEng[tag] v-on:click="changeType">{{tag}}</div>
            </div>
        </div>
    </header>
    <div class="main container">
        <div class="search-title"></div>
        <ul class="searchList row d-flex flex-wrap">
            <!-- <searchCard></searchCard> -->
            <li class="searchResultCard col-3"
            v-for="(spot,key) of mainData">
                <a :href="spot.url">
                    <img :src="spot.Picture.PictureUrl1" alt="景點圖片">
                </a>
                <div class="synopsis">
                    <h5>{{spot[spotNameAttr].substr(0,9)}}</h5>
                    <div class="cityTag">{{spot.City}}</div>
                    <!-- <p v-if="spot.DescriptionDetail">{{spot.DescriptionDetail.substr(0,34)}}...</p> -->
                    <p v-if="spot.Description">{{spot.Description.substr(0,34)}}...</p>
                    <div class="classList">
                       <template v-for="(cs,key) of classList">
                           <div class="classTag" v-if="spot[cs]">{{spot[cs]}}</div>
                       </template>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div></body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./searchPG.js"></script>
</html>